<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/inicio.css">
        <title>Carreras</title>
    </head>
    <body>
    <nav class="navbar">
        <div class="container">
            <img class="logo" src="images/logoULPVirtual.png" alt="Logo">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/carreras">Carreras</a></li>
                <li><a href="#">Institucional</a></li>
                <li><a href="#">Posgrados</a></li>
                <li><a href="#">Investigación</a></li>
                <li><a href="#">Vinculación</a></li>
                <li><a href="/alumnos">Estudiantes</a></li>
                <li><a href="/docentes">Docentes</a></li>
                <li><a href="#">Graduados</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <div class="contenido">
        <h1>Carreras</h1>
        <h2>Una carrera de ejemplo </h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Año</th>
            <th>Estado</th>

        </tr>

        <tr th:each="Materia : ${objectList}">
            <td th:text="${Materia.idMateria}"></td>
            <td th:text="${Materia.nombre}"></td>
            <td th:text="${Materia.anio}"></td>
            <td th:text="${Materia.activo}"></td>
        </tr>
    </table>
    </div>
    <footer>
        <div class="footer">
            <img id="footer" src="images/footer.png" alt="footer">
        </div>
    </footer>
    </body>
</html>
