<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/inicio.css">
        <title>Estudiantes</title>
    </head>
    <body>
    <nav class="navbar">
        <div class="container">
            <img class="logo" src="images/logoULPVirtual.png" alt="Logo">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/carreras">Carreras</a></li>
                <li><a href="#">Institucional</a></li>
                <li><a href="#">Posgrados</a></li>
                <li><a href="#">Investigación</a></li>
                <li><a href="#">Vinculación</a></li>
                <li><a href="/alumnos">Estudiantes</a></li>
                <li><a href="/docentes">Docentes</a></li>
                <li><a href="#">Graduados</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <div class="contenido">
    <h1>Results</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Materia</th>
                <th>Alumno</th>
                <th>DNI</th>
                <th>Nota</th>

            </tr>

            <tr th:each="Inscripcion : ${objectList}">
                <td th:text="${Inscripcion.idInscripcion}"></td>
                <td th:text="${Inscripcion.materia.nombre}"></td>
                <td th:text="${Inscripcion.alumno.apellido}+${' '}+${Inscripcion.alumno.nombre}"></td>
                <td th:text="${Inscripcion.alumno.dni}"></td>
                <td th:text="${Inscripcion.nota}"></td>
            </tr>
        </table>
        </div>
    <footer>
        <div class="footer">
            <img id="footer" src="images/footer.png" alt="footer">
        </div>
    </footer>
    </body>
</html>
