<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>HolA!</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>ESTO ES UN COMIENZO!!!</p>-->
<!--<p>Probando Mapping con mi primer controlador!!!</p>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicio.css">
    <title>Your Page Title</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <img class="logo" src="images/logoULPVirtual.png" alt="Logo">
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Carreras</a></li>
            <li><a href="#">Institucional</a></li>
            <li><a href="#">Posgrados</a></li>
            <li><a href="#">Investigación</a></li>
            <li><a href="#">Vinculación</a></li>
            <li><a href="/alumnos">Estudiantes</a></li>
            <li><a href="#">Docentes</a></li>
            <li><a href="#">Graduados</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <p>Contenido!</p>
</div>

<footer>
    <div class="footer">
        <img id="footer" src="images/footer.png" alt="footer">
    </div>
</footer>
</body>
</html>
